#orçamento{
    background-color: var(--cor-1);
}

.orçamento-bg{
    background: linear-gradient(to bottom, var(--cor-11) 40%, var(--cor-0) 0%);
}

.orçamento{
    display: grid;
    grid-template-columns: 5fr 7fr;
    margin-bottom: 60px;
}

.orçamento h2{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.orçamento h2::before{
    content: '';
    width: 4px;
    height: 8px;
    display: inline-block;
    background-color: var(--cor-p1);
    left: -12px;
    position: absolute;
}

.orçamento-dados h2{
    grid-column: 1 / -1;
}

.orçamento-dados{
    background-color: var(--cor-12);
    padding: 40px;
    border-radius: 4px 0px 0px 4px;
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr  1fr;
    column-gap: 20px;
}

.orçamento-dados label{
    padding: 16px 20px;
    padding-left: 32px;
    background-color: var(--cor-9);
    border-radius: 4px;
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.orçamento-dados input:checked + label{
    background-color: var(--cor-0);
    color: var(--cor-11);
    border-radius: 4px 4px 0px 0px;
}

.orçamento-dados > input:checked + label{
    border-color: var(--cor-p1);
    border-radius: 4px;
}

.orçamento-dados label::before{
    content: '';
    display: inline-block;
    border: 1px solid var(--cor-6);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 8px;
}

.orçamento-dados input:checked + label::before{
    box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-6);
}

.orçamento-dados input{
    padding: 16px;
    background-color: var(--cor-9);
    border-radius: 4px;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

.orçamento-conteudo{
    grid-column: 1 / -1;
    margin-top: 40px;
    display: none;
}

.orçamento-conteudo label{
    margin-bottom: 24px;
    justify-content: space-between;
}

.orçamento-conteudo label > span{
    display: none;
}

.orçamento-dados input:checked + label > span{
    display: block;
}

#bikcraft:checked ~ #orçamento-bicicleta,
#seguro:checked ~ #orçamento-seguro{
    display: block;
}

.bicicleta-detalhe{
    background-color: var(--cor-0);
    margin-top: -24px;
    padding: 0px 20px 20px 32px;
    margin-bottom: 20px;
    border-radius: 0px 0px 4px 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: none;
}

.bicicleta-detalhe li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.bicicleta-detalhe li + li{
    margin-top: 8px;
}

.bicicleta-detalhe li > img{
    width: 16px;
    height: auto;
}

.orçamento-conteudo > input:checked + label + .bicicleta-detalhe{
    display: grid;
}

.orçamento > form{
    background-color: var(--cor-0);
    padding: 40px;
    border-radius: 0px 4px 4px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.orçamento > form h2{
    grid-column: 1 / -1;
}

.orçamento > form input{
    padding: 20px 12px;
    display: block;
    width: 100%;
    border-radius: 4px;
    background-color: var(--cor-1);
    border: 1px solid var(--cor-2);
}

.orçamento > form input::placeholder{
    font: 500 1.125rem/1.35 "Poppins";
}

.orçamento > form div:nth-child(4),
.orçamento > form div:nth-child(5){
    grid-column: 1 / -1;
}

.orçamento > form div:nth-child(5){
    margin-bottom: 40px;
}

.orçamento > form label{
    margin-bottom: 8px;
    display: block;
}